<html>
    <head>
        <title>DB API Documentation</title>
    </head>
    <body>
        <h2>Use GET to select, use POST to Insert, PUSH to edit, and DELETE to delete</h2>
        <ul>
            <li>Albums - {{ baseURL }}/api/album/#</li>
            <li>Bands - {{ baseURL }}/api/band/#</li>
            <li>Favorites - {{ baseURL }}/api/favorite/#</li>
            <li>Ratings - {{ baseURL }}/api/rating/#</li>
            <li>Songs - {{ baseURL }}/api/song/#</li>
            <li>Wishlists - {{ baseURL }}/api/wishlist/#</li>
        </ul>
    </body>
</html>